<section class="border-y-4 border-primary-card p-6" id="contact">
    <div>
        <div class="flex items-center justify-center">
            <h2 class="font-bold text-[40px]
            w-fit
            bg-primary-light
            py-2 px-8
            text-white text-center relative -top-[68px]"
            
            >Contact Me</h2>
        </div>
        <div class="w-full flex gap-6 justify-center">
            <contactme-card [title]="'chihurumikechukwu05@gmail.com'" >
                <img src="mail-svgrepo-com.png" class="w-[30px]"/>
            </contactme-card>
            <contactme-card [title]="'+234 7037426068'">
                <img src="phone-svgrepo-com.png" class="w-[30px]"/>
            </contactme-card>
        </div>
    </div>
</section>