<section class="py-20">
    <div class="hero bg-primary-light h-fit">
        <div class="hero-content w-full flex justify-between items-center flex-row-reverse">
          <img
            src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.webp"
            class="max-w-sm rounded-lg shadow-2xl" />
          <div>
            <h1 class="text-5xl font-bold">I 'm <h1 class="text-secondary">Ikechukwu Fortune</h1></h1>
            <p class="py-6">
             Fullstack web developer
            </p>
            <button class="btn bg-transparent border-secondary border-4">Contact me</button>
          </div>
        </div>
      </div>
</section>