<section id="experience">
    <div>
        <h2 class="text-[40px] text-white font-bold relative -top-10 px-6">Experience</h2>
        <div class="flex flex-col p-10 items-center gap-10">
            <experince-card year="2024" title="Mobile Frontend developer"
            location="Bincom , Nigeria"
            description="As a Frontend Mobile Intern at Bincom , I honed my skills in modern web development, gaining hands-on experience with a variety of tools and technologies essential for building responsive and user-friendly web applications. This role was instrumental in shaping my expertise in frontend development and preparing me for real-world challenges."
            ></experince-card>
            <experince-card title="Frontend web developer" location="Betalyfe, Imo"
            year="2024"
            description="At BetaLayfe, I contributed to the development of a telehealth web application aimed at connecting patients with healthcare professionals remotely. This project allowed me to leverage my frontend skills to create an intuitive, responsive, and secure platform for virtual healthcare consultations.
            "
            ></experince-card>
 
            <experince-card year="2023" title="Fullstack web developer"
            location="HomeEase.ng , Imo"
            description="
            The primary goal of HomeEase is to make accommodation hunting a hassle-free experience for students by offering them a curated list of lodges based on their preferences such as location, budget, and amenities.
            "
            ></experince-card>
        
        </div>
    </div>
</section>