<section class="p-6" id="project">
    <div>
        <h2 class="text-white text-2xl text-center">Projects</h2>
        <div class="grid grid-cols-3  place-items-center self-center gap-10 py-8">
            <project-card src="image1.png"></project-card>
            <project-card src="image2.png"></project-card>
        </div>
        <div class="flex items-center justify-center">
            <button class="btn bg-secondary px-8 text-center rounded-md text-black text-base">View More</button>
        </div>
    </div>
</section>
