<section class="p-6">
    <div>
        <h2 class="text-white text-2xl text-center">Projects</h2>
        <div class="grid grid-cols-3  place-items-center self-center gap-10 py-8">
            <project-card></project-card>
            <project-card></project-card>
            <project-card></project-card>
            <project-card></project-card>
            <project-card></project-card>
            <project-card></project-card>
        </div>
        <div class="flex items-center justify-center">
            <button class="btn bg-secondary px-8 text-center rounded-md text-black text-base">View More</button>
        </div>
    </div>
</section>
