<section id="about">
    <div class="p-4">
        <h2 class="text-2xl text-white font-bold">About Me</h2>
        <div class="flex p-4">
            <div class="border-t-2 border-t-secondary w-[33%] m-2"></div>
            <p class="pr-10 pl-2 text-white text-lg text-left">
            Hi , a passonate web developer wth a keen eye for design and a commitment
            for building functonal, user-firendly websites and applications
. With 2 years of experience in the industry, 
I specalize in creating clean, effiecient code and deliering 
innovative solutions that align with both client needs and modern web standards.
 I've honed my skills in [list technologies, e.g., JavaScript, Python, React, Node.js, etc.]. 
 I'm dedicated to <span class="text-secondary">delivering high-quality solutions that exceed client expectations</span>.
As a curious and driven individual, 
I've always been fascinated by the intersection of technology and creativity.
 With a background in [related field or education], I transitioned into web development 
 and never looked back. Now, with [Number] years of experience under my belt, I specialize 
 in full-stack development, leveraging [technologies] to build innovative solutions for 
 businesses and individuals alike. Let's bring your vision to life</p>
        </div>
    </div>
    
</section>
